<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AcumaticaSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <AcumaticaSync.Properties.Settings>
            <setting name="WSUser" serializeAs="String">
                <value>wahyu-sunartha</value>
            </setting>
            <setting name="WSPassword" serializeAs="String">
                <value>Demo1234</value>
            </setting>
            <setting name="WSUrl" serializeAs="String">
                <value>https://universalleaf.acumatica.com/Soap/ADDONSYNC.asmx</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-LG5JEVK\SQLEXPRESS; Initial Catalog=ScaleAddon;user=sa; Password=Demo1234</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>qwertyoruiop</value>
            </setting>
            <setting name="DBServer" serializeAs="String">
                <value>DESKTOP-LG5JEVK\SQLEXPRESS</value>
            </setting>
            <setting name="DBCatalog" serializeAs="String">
                <value>ScaleAddon</value>
            </setting>
            <setting name="SyncDay" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Sunday</string>
                        <string>Monday</string>
                        <string>Tuesday</string>
                        <string>Wednesday</string>
                        <string>Thursday</string>
                        <string>Friday</string>
                        <string>Saturday</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SyncTime" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>5</string>
                        <string>22</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AcumaticaSync_com_acumatica_universalleaf_Screen" serializeAs="String">
                <value>https://universalleaf.acumatica.com/Soap/ADDONSYNC.asmx</value>
            </setting>
        </AcumaticaSync.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.4" newVersion="6.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
